:root {
  --primary-background: #444449;
  --secondary-background: #8a9797;
  --text-primary: #f1eeee;
  --text-secondary: #a69494;
  
  --btn-background: #040303;
  --btn-hover: #2b2a2a;
  --btn-secondary-background: #606477;
  --btn-secondary-hover: #7d8197;
  --btn-danger-background: #800000;
  --btn-danger-background-hover: #990000;
  
  --navbar-background: #24262c;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--primary-background);
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*
===========================================
 Navbar
=============================================
*/

nav {
  background: linear-gradient(to top, #30323a 0%, #24262c 50%, #1c1e24 100%);
}

nav .navbar-brand, nav .nav-link {
  color: var(--text-primary);
}

nav .navbar-brand:hover, nav .nav-link:hover {
  color: var(--text-secondary);
}

/*
===========================================
 Movies
=============================================
*/

.card-container {
  width: 100%;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--primary-background);
}

.card {
  width: 20%;
  background-color: var(--secondary-background);
  margin-right: 2em;
  margin-bottom: 1em;
  padding: 0.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .title {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--text-primary);
}

.card .description {
  text-align: left;
  font-size: 1em;
}

.card .subject-data {
  padding-left: 0;
  margin-top: 0.7em;
}

.card .subject-data .subject-item {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}
.card .subject-data .subject-item .header {
  font-weight: bold;
}

.card .subject-data .subject-item .value {
  margin-left: 0.5em;
}

.actions-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.actions-container button {
  padding: 0.2em 1em;
}
/*
===========================================
  Modal 
=============================================
*/

.modal-content {
  background-color: var(--primary-background);
  color: var(--text-primary);
}

.input-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
/*
===========================================
 Buttons
=============================================
*/
.btn-primary {
  background-color: var(--btn-background);
  color: var(--text-primary);
  font-size: 1em;
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0.5em;
}

.btn-primary:hover {
  background-color: var(--btn-hover);
}

.btn-secondary {
  background-color: var(--btn-secondary-background);
  color: var(--text-primary);
  font-size: 1em;
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0.5em;
}

.btn-secondary:hover {
  background-color: var(--btn-secondary-hover);
}

.btn-add {
  margin: 0.5em 5em;
}

.btn-danger {
  background-color: var(--btn-danger-background);
  color: var(--text-primary);
  font-size: 1em;
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0.5em;
}

.btn-danger:hover {
  background-color: var(--btn-danger-background-hover);
}

a {
  text-decoration: none;
}

/*
===========================================
 Accordion
=============================================
*/

.accordion-button, .accordion-button:not(.collapsed) {
  background-color: var(--secondary-background);
  border: none;
  color: var(--text-primary);
}

.client-option {
  background-color: var(--secondary-background);
  border: none; 
  color: var(--text-primary);
}